body {
  background-color: $main-bg;
  height: 100vh;
  // flex
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 1440px;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "content img";

  .content {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: $card-background;
    color: $white;
    font-family: $ff-inter;
    padding: 3rem;

    .content--header {
      h1 {
        span {
          color: $accent;
        }
      }
    }

    .content--text {
      p {
        font-size: 0.975rem;
        color: $stats-h;
      }
    }

    .content--stats {
      min-width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-transform: uppercase;
      font-family: $ff-lexend-deca;

      div {
        h2 {
          color: $white;
        }

        p {
          font-size: 0.975rem;
          color: $stats-h;
        }
      }
    }
  }

  .image {
      border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
              border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
        max-width: 100%;
        min-width: 100%;
      &.image--mobile {
        display: none;
      }
      &.image--desktop {
        filter: hue-rotate(270deg);
        display: block;
      }
    }
  }
}

@media (max-width: 375px) {
    body {
        height: 100%;
    }
  main {
    margin: 2rem 0;
    grid-template-areas:
      "img img"
      "content content";
  }

  .content {
      text-align: center;
  }

  .content--stats {
      width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .image {
    img {
      &.image--mobile {
        display: block;
      }
      &.image--desktop {
        display: none;
      }
    }
  }
}
